%html
  %head
    %meta{:charset => 'utf-8'}

    %title
      = page_title yield(:page_title)
    = stylesheet_link_tag    "reset"
    = stylesheet_link_tag    "layout"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      = render 'layouts/header'

    .center

      #sidebar_left
        = render 'shared/sidebar_left'

      #content
        %p
          .notice
            = notice
        %p
          .alert
            = alert


        = yield

      #sidebar_right
        = render 'shared/sidebar_right'

      %footer
        .container
